.grade-node {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
}

.grade-node:nth-child(even) {
  background-color: #f1f1f1;
}

.grade-node .label-node {
  width: auto;
  flex: 1;
  text-align: left;
  font-size: 16px;
  padding: 0 10px;
}

.grade-node .shared-grade {
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}

.grade-node .input-grade {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.grade-node button {
  width: 70px;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.grade-node .update-button {
  background-color: #FF8C00;
  color: white;
}

.grade-node .delete-button {
  background-color: #DC143C;
  color: white;
}

.grade-node button:hover {
  opacity: 0.9;
}
